## Ignore temp files 
*~

## Ignore .dropbox
*.dropbox

## Ignore All Data and Figure Files
Data/
data/
Figures/
figure/
reports/
*.pdf
*.xls
*.xlsx
*.png
mapdb.dcf
ps.dcf 
*.dcf
*.rds
.httr-oauth
*.md
*.html

# ignore _site directories
_site/

## Ignore data/*.sql file (contains uid/pwd info for connecting to databases) in Project Template rendered projects
data/*.sql

## Ignore R Files
.Rdata
.Rhistory
.Rproj.user
*.Rproj.user
*.Rapp.history
Data\ Analysis.Rproj.user
*.Rproj
cache/

## Ignore LaTex auxilary files
*.log
*-concordance.tex
*.synctex.gz
*-tikzDictionary
GIS/config/ps.dcf
