## Ignore temp files 
*~



## Ignore All Data and Figure Files
Data/
Figures/
figure/
*.pdf

## Ignore R Files
.Rdata
.Rhistory
.Rproj.user
*.Rproj.user
Data\ Analysis.Rproj.user
*.Rproj
cache/

## Ignore LaTex auxilary files
*.log
*-concordance.tex
*.synctex.gz
*-tikzDictionary
