## Ignore temp files 
*~



## Ignore All Data and Figure Files
Data/
data/
Figures/
figure/
reports/
*.pdf

## Ignore data/*.sql file (contains uid/pwd info for connecting to databases) in Project Template rendered projects
data/*.sql

## Ignore R Files
.Rdata
.Rhistory
.Rproj.user
*.Rproj.user
Data\ Analysis.Rproj.user
*.Rproj
cache/

## Ignore LaTex auxilary files
*.log
*-concordance.tex
*.synctex.gz
*-tikzDictionary
